@font-face {
  font-family: 'OpenSansLightRegular';
  src: url('/media/opensans-light-webfont.eot');
  src: url('/media/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
     url('/media/opensans-light-webfont.woff') format('woff'),
     url('/media/opensans-light-webfont.ttf') format('truetype'),
     url('/media/opensans-light-webfont.svg#OpenSansLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('/media/opensans-regular-webfont.eot');
  src: url('/media/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('/media/opensans-regular-webfont.woff') format('woff'),
     url('/media/opensans-regular-webfont.ttf') format('truetype'),
     url('/media/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
	margin: 0px;
	padding: 0px;			
}
body {
	font-family:"OpenSansLightRegular",sans-serif;
	color: #484848;
  padding: 50px 0 0 0;
  background: #ecf0f1;
}
.content-container {
	width: 700px;
	margin: 0 auto;
}

h1 {
  font-size: 38px;
}

p {
  padding: 10px 0 10px 0;
}

form {
  padding: 50px;
}

.box {
  background-color:white;
  -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,.05), 0 1px 2px 0px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.05), 0 1px 2px 0px rgba(0,0,0,.1);
  box-shadow: 0 0 3px 1px rgba(0,0,0,.05), 0 1px 2px 0px rgba(0,0,0,.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  padding:20px;
  width:500px;
}