<html xmlns:fb="http://ogp.me/ns/fb#">
<!-- Begin Wrapper > Header HTML -->
<!--[if lt IE 7]>              <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7]>                 <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]>                 <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>                <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en">         <!--<![endif]-->
 <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title>A crucial vote is happening that could curtail NSA domestic surveillance</title>
  <!-- Empty conditional comment hack
  Prevents lo d stacking in IE8
  See http://www.phpied.com/conditional-comments-block-downloads/ -->
  <!--[if IE]><![endif]-->
  <!-- Chrome Frame for browsers that support it -->
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

  <link rel="shortcut icon" type="image/ico" href="media/images/favicon.png">

  <!-- coalition edit start -->
  <meta name="description" content="On July 24th a critical vote is happening in Congress that could defund some of the NSA's surveillance program." />

  <meta property="og:title" content="A crucial vote is happening that could curtail NSA surveillance" />
  <meta property="og:description" content="On July 24th a critical vote is happening in Congress that could defund some of the NSA's surveillance program." />
  <meta property="og:type" content="cause" />
  <meta property="og:url" content="http://DefundTheNSA.com" />
  <meta property="og:image" content="http://defundthensa.com/media/images/defundthensa-facebook.jpg" />

  <link rel="stylesheet" href="media/css/reset.css" />
  <link rel="stylesheet" href="media/css/styles.css" />
  <!-- coalition edit end -->

  <script src="media/js/jquery-1.10.1.min.js"></script>
  <script src="media/js/jquery-migrate-1.2.1.min.js"></script>

  <script src="media/js/lodash.min.js"></script>

  <script src="js/main.js"></script>

  <script type="text/javascript" src="//use.typekit.net/yir5vvx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 </head>

 <body>
  <div class="content-container">
    <div style="text-align: center;">
    <img src="media/images/headertext.png" alt="Tell Congress to Vote Against NSA Surveillance Today" />
    </div>
      <div class="box vote-table">

      </div>



      <script type="text/template" id="call-template">
      <table>
        <thead>
          <th>Republican</th>
          <th>Blah</th>
        </thead>
        <tbody>
          <% _.each(legislators.votes, function(vote){ %>
         <tr class="vcard">
          <td class="fn"><%= vote.details.first_name %></td>
          <td class="tel"><%= vote.vote[0]%></td>
         </tr>
         <% }); %>
        </tbody>
      </table>
      </script>





















      <div class="box">
        <form style="" class="zipcodeform">
          <fieldset class="zipcode-search">
            <label for="zipcode">Zip Code</label>
            <input pattern="\d{5}" title="The zip code should consist of five numbers only"
             required id="zipcode" class="search" type="text" placeholder=""
             autofocus>
            <input type="submit" class="btn" id="submit-zipcode" value="Find your legislator"  />

          </fieldset>
        </form>
        <div style="clear: both;"></div>
        <div id="what-to-say">
        <span class="intro">Here’s  what to say when you call:</span>
          <div class="what-to-say-text">

          <p>I'm one of Representative _______'s constituents, and I'm calling
          to ask him/her to demonstrate that he/she stands with those of us who
          support the Fourth Amendment and support Representative Amash's
          amendment to HR-2397 when it comes up for a vote this week. The
          amendment would place some important limitations on domestic
          surveillance by the NSA. And please note that the Nugent amendment is
          not enough, because it does not stop the NSA's current surveillance
          activities.</p>

          <p>Once again, I'm asking for Representative _______ to support
          Representative Amash's amendment to HR-2397.</p>
          </div>
        </div>
        <div id="legislators">

          <div id="phones">
            <span class="intro">Your representative's phone number:</span>
            <table>
              <thead>
                <th>Name</th>
                <th>Number</th>
              </thead>
            <tbody class="list"></tbody>
            </table>
            <br />
            <button class="btn called">I called!</button>
           <!-- Fills with phone numbers for the given zipcode's legislators -->
          </div>
          <div id="thankyou" style="display:none;">
            <p>Thanks so much for taking the time to call. If you use twitter, you can also tweet your House representative. Either way - <strong> make sure to share this page with your friends.</strong></p>
          </div>
          <div id="tweets">
            <span class="intro">Tweet at your representative:</span>
            <div class="list"></div>

        <span class="intro" style="margin-top: 20px;">Most importantly: spread the word</span>
        <div style="clear: both; height:10px;"></div>
           <!-- Fills with tweet cards for the given zipcode's legislators -->
              <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
        <a class="addthis_button_tweet" tw:count="vertical" tw:text="A critical vote is happening TODAY in Congress that could defund the NSA. You need to read this ->" tw:via="" tw:related="sinak,beaugunderson,jensnockert,neutralthoughts"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ee4be93b168909"></script>
          </div>
        </div>
      </div>

      <div class="box">
        <span class="intro">Dear Internet,</span>

        <p class="tagline" style="padding-bottom:0px">It's been just over a
        month since new information on the NSA’s dragnet domestic surveillance
        program was leaked to the public. Today, Congress is voting on an
        amendment that would block funding for NSA programs using Section 215 of
        the Patriot Act to mass collect the call records of innocent
        Americans.</p>

        <p class="tagline">A win today may start a chain reaction that leads
        to real reform - but it won't happen unless we speak up. We have one day
        to convince Congress to act.</p>

        <p><a
         href="http://dailycaller.com/2013/07/16/amash-defense-bill-amendment-seeks-to-defund-overbroad-nsa-surveillance/"
         target="_blank">A critical vote is happening TODAY</a>, July 24th,
        on the Defense Appropriations Bill in the House of Representatives. The
        bill gives taxpayer money to fund defense programs, including the NSA,
        which is part of the Department of Defense.</p>

        <p>On Monday, an important bipartisan amendment to that bill was
        green-lighted to be voted on TODAY. Proposed by Rep. Justin Amash
        (MI), the amendment would remove funding for NSA programs using the
        Patriot Act for blanket collection of phone records and metadata from
        phone service providers.</p>

        <p><a href="http://rules.house.gov/bill/hr-2397" target="_blank">The
         summary of the amendment</a> on the House of Representatives website
        reads:

        <blockquote>Ends authority for the blanket collection of records under
         the Patriot Act. Bars the NSA and other agencies from using Section 215
         of the Patriot Act to collect records, including telephone call
         records, that pertain to persons who are not subject to an
         investigation under Section 215.</blockquote></p>

         <p>In other words, while the amendment would not actually defund the
         NSA or all NSA surveillance, it would defund surveillance conducted
         under Section 215 of the Patriot Act of millions of ordinary Americans
         who are not the targets of any investigation.</p>

        <p><span class="important">The vote on this bill is critical.</span> We
        need to flood Congress with calls in support of the amendment, and hold
        our representatives accountable.</p>

        <p>If you care about the Fourth Amendment to the Constitution and if you
        believe that privacy is critical to liberty, <span class="important">now
         is the time to act.</span> </p>

        <p>Just a few dozen calls to a single representative can change the way
        they vote. You can also contact Congress via <a
         href="http://act.demandprogress.org/call/nsa_call/"
         target="_blank">Demand Progress</a>'s website.</p>

        <p class="important" style="font-size:18px">This critical amendment to
        secure our privacy won't pass without public support. One in ten people
        who visit this site will take action and call their representatives.</p>
        <p class="important" style="font-size:18px">Will you be one of them?</p>
      </div>

      <script type="text/template" id="not-found-template">
       <p>Sorry, no legislators were found for this zipcode.</p>
      </script>

      <script type="text/template" id="phone-template">
       <tr class="vcard">
        <td class="fn"><%= name %></td>
        <td class="tel"><%= phone %></td>
       </tr>
      </script>

      <script type="text/template" id="tweet-template">
       <div class="clearfix" style="margin-top: 0px; margin-bottom:15px; font-size: 14px;">
        <div class="what-to-say-text"><%= message %></div>

        <div class="span2" id="<%= legislator.twitter_id %>">
         <a href="https://twitter.com/intent/tweet?screen_name=<%=legislator.twitter_id %>&text=<%= message %>"
          class="twitter-mention-button legislator-tweet"
          url="http://defundthensa.com/" data-lang="en" data-count="none"
          data-size="large" data-counturl="http://defundthensa.com/">Tweet to @<%= legislator.twitter_id %></a>
        </div>
       </div>

        <div style="clear: both; height:10px;"></div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
        <a class="addthis_button_tweet" tw:count="vertical" tw:text="DefundTheNSA: A critical vote is happening TODAY in Congress that could partially defund NSA surveillance ->" tw:via="" tw:related="sinak,beaugunderson,jensnockert,neutralthoughts"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
        </div>
      </script>

      <div class="share-container box">
        <span class="intro">Spread the word:</span>
        <div style="clear: both; height:10px;"></div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
        <a class="addthis_button_tweet" tw:count="vertical" tw:text="#DefundTheNSA: A critical vote is happening TODAY in Congress that could partially defund NSA surveillance ->" tw:via="" tw:related="tfrce,beaugunderson,sinak,jensnockert,neutralthoughts"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
        </div>
        <script type="text/javascript">
        function randomize(e){var t=e.length,n,r;if(t===0)return false;while(--t){n=Math.floor(Math.random()*(t+1));r=e[t];e[t]=e[n];e[n]=r}}var twhandles=["sinak","jensnockert","neutralthoughts","beaugunderson"];randomize(twhandles); var randhandles = "tfrce,"+twhandles[0]+","+twhandles[1]+","+twhandles[2];
        $("a.addthis_button_tweet").attr('tw:related', randhandles);
        var addthis_config = addthis_config||{};
        addthis_config.data_track_addressbar = false;
        </script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ee4be93b168909"></script>
        <!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  #mc_embed_signup form {
    padding: 30px 0 0 0 !important;
  }
  #mc-embedded-subscribe input.button {
    width: 20% !important;
  }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://sina.us7.list-manage1.com/subscribe/post?u=c148127741902298dd3205c12&amp;id=941d3f79d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL">Subscribe to our mailing list</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  <p style="margin-top:0px; font-size:12px;">* The <a href="http://taskforce.is" target="_blank">Taskforce</a> is a volunteer activism organization. We won't share your email address with anyone or send you spam.</p>
</form>
</div>

<!--End mc_embed_signup-->
      </div>
      <div class="box last">
        <p class="important">In collaboration with </p>
        <div style="width:150px; float:left;">
          <a href="http://www.demandprogress.org/">
          <img style="width: 130px;" src="https://d3si65a7to6ipq.cloudfront.net/static/images/demand-progress-logo.4534a37b3be0.jpg" />
          </a>
        </div>
        <div style="width:140px; float:left;">
          <a href="http://www.fightforthefuture.org/">
          <img style="width: 140px; padding-top:12px" src="media/images/fftf_logo.png" />
          </a>
        </div>
        <div style="clear:both"> </div>
      </div>
      <div class="footer" style="padding-top:40px;">
       This site was built by <a target="_blank" href="https://twitter.com/beaugunderson">Beau
        Gunderson</a>, <a target="_blank" href="https://twitter.com/neutralthoughts">Thomas Davis</a>,
       <a target="_blank" href="https://twitter.com/jensnockert">Jens Nockert</a>, and <a
        target="_blank" href="https://twitter.com/sinak">Sina Khanifar</a>, members of <a
        target="_blank" href="http://sina.is/task-force/">Taskforce.is</a>.
      </div>

      <div class="footer" style="padding-top:0px;">
       This site would not be possible without <a target="_blank" href="http://sunlightfoundation.com/">Sunlight Foundation</a>'s incredible <a target="_blank" href="http://sunlightlabs.github.io/congress/">Congress API</a><br /><br /><br />
      </div>
    </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42644194-2']);
    _gaq.push(['_setDomainName', 'defundthensa.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
 </body>
</html>
